body
  background-color #f4f4f4

  header, footer
    text-align center
    a
      color #000
      text-decoration none

      &:hover
        text-decoration none

  header
    border-bottom 1px solid #e5e5e5

    h1
      padding-left 30px

  footer
    border-top 1px solid #e5e5e5

    ul
      list-style-type none

      li
        display inline-block
        padding 0 20px

        a
          color #4183c4

    span#copyright
      color #777
      font-size 12px


  #articleContainer
    background-color #fff
    width 100%

    article
      min-width 200px
      max-width 790px
      margin 0 auto
      padding 30px

.publish-date
  color #000
  text-align center

  a
    text-decoration none
    color #000

    &:hover
      text-decoration underline

  .date-year, .date-month, .date-day
    position relative
    font-size 24px
    padding-top 3px
    padding-bottom 3px
